{% extends 'accounts_base.html' %}
{% load static %}


{% block title %}
    فراموشی رمز
{% endblock %}



{% block form %}
      <section>
        <div class="flex flex-col gap-10">
          <h1 class="text-xl text-lowGray">شماره موبایل خود را وارد کنید</h1>
          <div>
            <label for="input" class="text-sm text-lowGray">
            </label>
          </div>
          <form method="post">
                  {% csrf_token %}
                  {{ form.phone_number }}
                  {{ form.phone_number.errors }}

              <button type="submit"
                class="bg-redColor opacity-80 hover:opacity-100 transition-opacity duration-300 text-whiteColor py-3 w-full rounded-md"
              >
                ارسال کد
            </button>
          </form>
        </div>
      </section>

{% endblock %}



{% block scripts %}

{% endblock %}
