{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" href="{% static 'styles/main.css' %}" as="style" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
{#    <link#}
{#      rel="stylesheet"#}
{#      href="{% static 'styles/FontAwesome.Pro.6.5.2/css/all.css' %}"#}
{#    />#}
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>
        {% block title %} {% endblock %}
    </title>
  
  
</head>
  <body>
  <script src="{% static 'scripts/sweetalert2.js' %}"></script>
  
    <main
      class="sm:max-w-[400px] flex flex-col gap-7 border border-submitPageColorBorderLowBlack py-3 px-9 min-h-[450px] fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full"
    >
      <section>
        <div class="relative">
          <a href="{% url 'auth:login' %}" class="max-w-[200px] block mx-auto w-full">
            <img src="{% static 'assets/images/logo.png' %}" alt="logo" />
          </a>
          <a href="{% url 'auth:login' %}" class="absolute p-2 right-0 top-1/2 -translate-y-1/2"
            ><svg
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-8"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
            </svg>
          </a>
        </div>
      </section>

          
          {% block form %}{% endblock %}
      

    </main>
    
    
  
  {% block scripts %}{% endblock %}
    
    <script>
      const main = document.querySelector("main");
      function resizeWin() {
        console.log(main.scrollHeight, innerHeight);
        if (main.scrollHeight > innerHeight) {
          main.style.position = "static";
          main.style.transform = "translate(0)";
          main.style.margin = "0 auto";
        } else {
          main.style.position = "fixed";
          main.style.transform = "translate(-50%,-50%)";
          main.style.margin = "0";
        }
      }
      window.addEventListener("resize", resizeWin);
      document.addEventListener("DOMContentLoaded", resizeWin);
    </script>
  
  </body>
</html>
